
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    height: 100vh;
    margin: 0;
    text-align: center;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin: 40px auto;
    text-align: left;
}

h1, p {
    text-align: center;
}

div {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}

input[type="submit"],
input[type="reset"] {
    width: 48%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 2%;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #6c757d;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.5;
}

label {
    display: block;
}

.checkbox-label,
.radio-group label {
    display: inline-block;
    margin-right: 10px;
}
#bg-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -99;
    position: fixed;
}
input:hover{
    background: #007BFF;
}
label::first-letter{
    color: burlywood;
}
